body {
	margin: 40px;
}

h1 {
	font-family: 'Coiny'!important;
	font-size: 40px;
}

li {
  cursor: pointer;
  color: #4391a8;
  list-style-type: none;
  padding: 5px;
  font-size: 24px;
}

li:hover {
  background-color: #4391a8;
  color: white;
}

.card {
  cursor: pointer;
}
.card-img-top {
  width: 300px;
  height: 220px;
}

.badge-info {
  text-align: center!important;
}

.row {
  padding: 10px;
}

.btn {
  margin-right: 10px;
}

.form-group {
  margin-right: 10px;
}
/* Hides admin-panel by default*/
.hide-admin-panel{
  display: none;
}